#logo {
    margin: 0;
    font-family: "Lora", sans-serif;
  }

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }

body > footer {
  background-color: dodgerblue;
  padding: 16px;
  color: white;
  text-align: center;
}

body > header {
    background-color: dodgerblue;
    color: white;
  }

body > main > article {
    margin: auto;
    width: 70%;
}

nav > ul {
    list-style: none;
  }
  
  nav > ul > li > a {
    color: white;
  }

  .like-button {
    background-color: transparent;
    border: 1px solid dodgerblue;
  }
  
  .share-button {
    background-color: transparent;
    border: 1px solid green;
  }

